NODE_ENV = 'development'
SERVER_PORT = 5000

MONGO_DB = 'graphql_demo_db'
MONGO_USER = 'vscodeuser'
MONGO_PASSWORD = 'ab7fa8e3f03eb6328186302b45e756a513cdad8d6d1f195067077e2c87a0fe8b9d1362b5a7e70a0047dbb983cfa32107914780fb050732fb8e0ee8'
MONGO_HOST = 'cluster0.puppw.mongodb.net'

BYPASS_KEY="ABCD45678"
JWT_SECRET='GYp8pLY62R'
JWT_SESSION_LENGTH=86400
JWT_AUDIENCE='http://localhost:8000'
JWT_ISSUER='jwt_localhost'
HASHLENGTH=8